force-app/main/default/flows/Create_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_ICT_ID</name>
        <label>Assign ICT ID</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>ICTRecordCreatedID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ICTDT2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Meeting_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ICTRecordOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventSubjectText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICTSummaryConstant2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ICTSummaryFormula2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICTSummaryFormula3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ICTSummaryConstant</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>ICTSummaryConstant2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ICT Meeting</stringValue>
        </value>
    </constants>
    <formulas>
        <name>EventSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Member__r.Name} + &apos;ICT Meeting&apos;</expression>
    </formulas>
    <formulas>
        <name>ICTSummaryFormula3</name>
        <dataType>String</dataType>
        <expression>{!ICTSummaryConstant2}&amp; &quot; - &quot; &amp;{!$Record.Member__r.FirstName}&amp; &quot; &quot; &amp;{!$Record.Member__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>ICTSummaryNameFormula</name>
        <dataType>String</dataType>
        <expression>{!ICTSummaryConstant2} &amp; {!ICTMemberName}</expression>
    </formulas>
    <interviewLabel>Create Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>ICTDT2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>linkToRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ICTRecordOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ICTSummaryFormula2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>ICTRecordCreatedID</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_ICT_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ICT_Meeting__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>linkToRecord</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;https://d5e000002hbfueac.lightning.force.com/lightning/r/ICT_Meeting__c/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EventSubjectText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ICTDT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ICTDT2</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ICTFullSummaryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ICTMemberName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ICTRecordCreatedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ICTRecordOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ICTSummaryFormula2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
