force-app/main/default/flows/Create_Care_Team_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>setCaseTeamRole</name>
        <label>setCaseTeamRole</label>
        <locationX>635</locationX>
        <locationY>894</locationY>
        <assignmentItems>
            <assignToReference>caseTeamMember.TeamRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRole.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseTeamMember.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setWhatId</name>
        <label>setWhatId</label>
        <locationX>984</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>caseTeamMember.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getExistingCaseTeamMember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setWhatId2</name>
        <label>setWhatId</label>
        <locationX>988</locationX>
        <locationY>964</locationY>
        <assignmentItems>
            <assignToReference>caseTeamMember.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getExistingCaseTeamMember</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Doesnt_Exist</name>
        <label>If Doesnt Exist</label>
        <locationX>1236</locationX>
        <locationY>871</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingCaseTeamMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Case_Team_Member</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfNoRoles</name>
        <label>IfNoRoles</label>
        <locationX>765</locationX>
        <locationY>651</locationY>
        <defaultConnector>
            <targetReference>getCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseTeamMemberExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseTeamMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>CaseTeamMemberExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>RoleNotNull</name>
        <label>RoleNotNull</label>
        <locationX>627</locationX>
        <locationY>463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getICTMeeting</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>UniqueName</name>
        <label>IsExternal</label>
        <locationX>806</locationX>
        <locationY>896</locationY>
        <defaultConnector>
            <targetReference>setWhatId2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setWhatId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Create Care Team Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Care Team Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Case_Team_Member</name>
        <label>create Case Team Member</label>
        <locationX>1381</locationX>
        <locationY>864</locationY>
        <inputReference>caseTeamMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>634</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCaseTeamRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getICTMeeting.Member__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125e000000Mu5TAAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getExistingCaseTeamMember</name>
        <label>getExistingCaseTeamMember</label>
        <locationX>1121</locationX>
        <locationY>871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Doesnt_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseTeamMember.MemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getICTMeeting</name>
        <label>getICTMeeting</label>
        <locationX>775</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfNoRoles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ICT_Meeting__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ICT_Meeting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRole</name>
        <label>GetRole</label>
        <locationX>775</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RoleNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Role__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>649</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetRole</targetReference>
        </connector>
        <object>ICT_Meeting_Member__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>caseTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
</Flow>
